.contact-desc p{
    color: #000;
    opacity: .85;
    text-align: justify;
    word-break: keep-all;
}
.contact-desc{
  width: 92%;
}
.contact-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 30px;
}
.form label{
    text-transform: capitalize;
}
.social-icon li{
  display: inline-block;
  margin:20px 10px ;
}
#comment{
  width: 100%;
  height: 200px;
  border: 1px solid #6C63FF;
}
#email, #name{
  border: 1px solid #6C63FF;
}
.social-icon li i{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width:40px;
    height:40px;
    border-radius:100%;background-color:#000 !important;
    text-decoration: none !important;
    color: #ffffff;
}
.underline-4{
    border-bottom: 3px solid #6C63FF ;
    width: 22%;
    margin: auto;
}

 .facebook1 i:hover
{
  background-color:#3b5998 !important;
  color: #fff;
  transition:  all ease .3s;
  text-decoration: none !important;
}
.social-icon .twitter1 i:hover
{
  background-color:#00aced !important;
  color: #fff;
  transition:  all ease .3s;
}
.social-icon .linkedin1 i:hover
{
  background-color:#007bb6 !important;
  color: #fff;
  transition:  all ease .3s;
}
.social-icon .dribbble1 i:hover
{
  background-color:#ea4c89 !important;
  color: #fff;
  transition:  all ease .3s;
}
.social-icon li a{
    text-decoration: none !important;
}

.btn-4{
  background-color: #6C63FF;
  width: 200px;
  box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.3) !important;
  transition: all ease-in-out 300ms; 
  padding: 14px !important;
  margin-top: 25px;
  border: none !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.4px;
  font-size: 18px;
}
.btn-4:hover{
   background-color: none !important;
   transform: translate(0px, -4px);
   outline: none !important;
   color: #fff;
}


.contact-banner {
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
   url("https://images.pexels.com/photos/5054355/pexels-photo-5054355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 70vh;
  background-repeat: no-repeat !important;
  background-position:top center;
  background-size: cover !important;
  width: 100% !important;
  position: relative;
}
.contact-items{
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translateY(-40%, -20%) !important;
  max-width: 640px !important;
  height: auto;
}

.contact-items h1{
  text-transform: uppercase;
  font-weight: 900;
  color: #ffdd00;
  letter-spacing: 1.4px;
  font-size: 45px;
}
.contact-items p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: justify;
    word-break: keep-all;

}


@media(max-width:640px){
  .contact-banner{
    height: 56vh;
  }
  .contact-items{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 80% !important;
  }
  
  .contact-items h1{
    text-transform: uppercase;
    font-weight: 900;
    color: #ffdd00;
    letter-spacing: 1.4px;
    font-size: 23px;
  }
  .contact-items p{
      font-size: 16px;
      color: rgb(255, 255, 255);
      text-align: justify;
      word-break: keep-all;
  
  }
  .btn{
    width: 140px !important;
    padding: 11px !important;
    font-size: 14px !important;
    margin-top: 15px;
  }
  .contact-desc{
    width: 100%;
  }
  .section-title{
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 20px;
  }
  .social-icon{
   display:flex !important;
    justify-content: space-around !important;
    /* background-color: #ea4c89; */
   align-items: center !important;
  }
  .social-icon li{
    display: inline-block;
    margin:20px 0px ;
    margin-right: 15px;
  }
  #comment{
    width: 100%;
    height: 200px;
  }
  .social-icon li i{
     margin-right: 20px;  
  }
  .btn-4{
    width: 130px;
    margin-top: 10px; 
    font-size: 13px;
  }
  
  
}

@media(min-width:767px) and (max-width:1023px){
  .contact-banner{
    height: 60vh !important;
  }
  .contact-items{
    width: 64%;
    top: 30%;
    left: 10%;
    transform: translateY(-30%, -15%);
    
  }
  .contact-items h1{
    font-size: 40px;
  }
 
  .social-icon{
    display:flex !important;
     justify-content: space-evenly !important;
     /* background-color: #ea4c89; */
    align-items: center !important;
    
   }
   .social-icon li{
     display: inline-block;
     margin:30px 0px ;
     margin-right: 43px;
   }
   
  
}

@media(min-width:768px) and (max-width:1024px){
  .contact-banner{
    height: 45vh !important;
  }
  .contact-items{
    width: 64%;
    top: 30%;
    left: 10%;
    transform: translateY(-30%, -10%);
    
  }
  .contact-items h1{
    font-size: 45px;
  }
  .social-icon{
    display:flex !important;
     justify-content: space-evenly !important;
     /* background-color: #ea4c89; */
    align-items: center !important;
    
   }
   .social-icon li{
     display: inline-block;
     margin:30px 0px ;
     margin-right: 53px;
   }
   
  
}