.featured-rooms-title h3{
    text-align: center;
    font-weight: bolder !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px !important;
    color: #000;
    margin:30px 0px;
    opacity: .86;
}
.underline-1{
    border-bottom: 4px solid #6C63FF;
    width: 22%;
    margin:-15px auto;
}
.featured-rooms-box{
    margin-top: 40px;
}

@media(max-width:640px){
    .featured-rooms-title h3{
        font-size: 22px !important;
        font-weight: 700 !important;
    }
}