.newsletter{
   height: 140px;
}
#subscribe{
    width: 500px !important;
    height: 45px;
    border: 1px solid #6C63FF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.form-inline{
   margin: 30px auto !important;
   width: 650px; 
   
}
.btn-3{
    width: 150px;
    padding: 10.2px;
    border: none !important;
    outline: none !important;
    margin-left: -2px;
    background-color: #6C63FF;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.subscribe-title h1{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 20px;
    font-size: 30px;
    color: #000;
    opacity: .86;
}
