.newsletter {
    padding: 40px 0;
  
    }
    
    .newsletter .content-sub {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content-sub h2 {
    color: #243c4f;
    margin-bottom: 40px; }
    .newsletter .content-sub .form-control {
    height: 50px;
    border-color: #6C63FF;
    border-radius:0;
    
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #6C63FF;
    }
    .sub-btn{
        outline: none !important;
        border: none !important;
    }
    .newsletter .content-sub .sub-btn {
    min-height: 50px; 
    border-radius:0;
    background: #6C63FF;
    color: #fff;
    font-weight:600;
    outline: none !important;
    }

    .content-sub h1{
        text-transform: uppercase;
    }

    @media(min-width:320px) and (max-width:640px){
        .content-sub h1{
            font-size: 20px;
        }
    }