

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.defaultHero, .roomsHero
 {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
   url("https://images.pexels.com/photos/751268/pexels-photo-751268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 90vh;
  background-repeat: no-repeat !important;
  background-position: top center;
  background-size: cover;
  width: 100% !important;
  position: relative;
  
 
}
.roomsHero {
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
   url("https://images.pexels.com/photos/1438834/pexels-photo-1438834.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 90vh;
  background-repeat: no-repeat !important;
  background-position:right, center;
  background-size: cover !important;
  width: 100% !important;
 
}
.banner-items{
  position: absolute !important;
  top: 40%;
  left: 20%;
  transform: translateY(-40%, -20%) !important;
  max-width: 640px !important;

}



.btn{
  background-color: #6C63FF;
  width: 200px;
  box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.3) !important;
  transition: all ease-in-out 300ms; 
  padding: 14px !important;
  margin-top: 25px;
  border: none !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.4px;
  font-size: 18px;
}
.btn:hover{
   background-color: none !important;
   transform: translate(0px, -4px);
   outline: none !important;
   color: #fff;
}



.single-room-image img{
  width: 100% !important;
}
